<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# fb: http://ogp.me/ns/fb#">
<head>
  {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
  {{ else }}
    <title>{{- block "title" . -}} {{- with .Title -}} {{ . }} {{- end -}} {{- end -}}</title>
  {{ end }}

  {{ partial "meta.html" . }}

  {{ block "opg-extra" . }}{{ end }}

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <!-- <script defer data-domain="klimchuk.dev" src="https://plausible.io/js/script.js"></script> -->

  <script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js" id="pirschjs" data-code="huiaM31o9EZDWcxIm083dw4Lix4ZVBzs"></script>
</head>
<body>
  {{ partial "header.html" . }}
  <div class="main section">
      {{ block "main" . }}{{ end }}
  </div>
  {{ partial "footer.html" . }}

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>