{{ define "opg-extra" }}
    <meta property="article:author" content="{{ .Site.Params.title }}">
    {{ range .Params.topics }}
        {{ $name := (. | replaceRE "^(([a-z]+)/)+(_[a-z]+).md$" "$2") }}
        {{ with $.Site.GetPage (printf "/%s/%s" "topics" ($name | urlize)) }}
            <meta property="article:section" content="{{ .Title | safeHTMLAttr }}">
        {{ end }}
    {{ end }}
{{ end }}

{{ define "main" }}
<div class="container">
    <div class="columns is-mobile-columns">
        <div class="column is-8">
            <article class="post">
                <header class="subtitle is-spaced">
                    <div class="breadcrumb above-title is-size-5-desktop is-size-6-mobile">
                        <ul>
                            <li><a href='{{ with .GetPage "/posts" }}{{ .Permalink }}{{ end }}'>&larr; {{ i18n "all-notes" }}</a></li>
                            {{ range .Params.topics }}
                                {{ $name := (. | replaceRE "^(([a-z]+)/)+(_[a-z]+).md$" "$2") }}
                                {{ with $.Site.GetPage (printf "/%s/%s" "topics" ($name | urlize)) }}
                                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                    {{ partial "article-header" . }}
                </header>
                <div class="content">
                    {{ if .Params.images }}
                    {{ $alt := .Title | safeHTMLAttr }}
                    {{ range first 1 .Params.images }}
                    <img class="image" src="{{ . }}" alt="{{ $alt }}">
                    {{ end }}
                    <br>
                    {{ end }}

                    {{ .Content }}
                </div>
                <div class="tags are-medium">
                    <span class="tag">{{ i18n "reading-time" .ReadingTime }}</span>
                    <span class="tag">{{ i18n "wordcounter" .WordCount }}</span>
                </div>

                <aside class="menu under-post-navigation">
                    <ul class="menu-list is-flex is-mobile-columns">
                        {{ if .PrevInSection }}
                        <li><a href="{{ .PrevInSection.Permalink }}">&larr; {{ .PrevInSection.Title }}</a></li>
                        {{ end }}
                        {{ if .NextInSection }}
                        <li><a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &rarr;</a></li>
                        {{ end }}
                    </ul>
                </aside>

                {{ partial "newsletter" }}
            </article>
        </div>
        <div class="column is-1 is-hidden-mobile"></div>
        <div class="column is-3">
            <aside class="menu">

                <div class="toc is-hidden-mobile">
                {{ with .TableOfContents }}
                    {{ if gt (len . ) 32 }}
                        <div class="menu-label is-size-6">{{ i18n "local-navigation" }}</div>
                        {{ . }}
                    {{ end }}
                {{ end }}
                </div>

                {{ $related := .Site.RegularPages.RelatedIndices . "topics" | first 10 }}

                {{ with $related }}
                    <div class="menu-label is-size-6">{{ i18n "related-notes" }}</div>
                    <ul class="menu-list">
                        {{ range . }}
                            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                {{ end }}
            </aside>
        </div>
    </div>
</div>
{{ end }}
