<div class="buttons are-normal">
    <a href="https://www.buymeacoffee.com/ivanklimchuk" target="_blank" class="button is-warning">
        <span class="icon is-small">
            {{ partial "inline-svg" (dict "key" "buymeacoffee" "class" "is-small")}}
        </span>
        <span>Buy Me a Coffee</span>
    </a>
    <a href="https://www.patreon.com/ivanklimchuk" target="_blank" class="button is-danger">
        <span class="icon is-small">
            {{ partial "inline-svg" (dict "key" "patreon" "class" "is-small")}}
        </span>
        <span>Become a Patron</span>
    </a>
    <a href="https://twitter.com/intent/follow?screen_name=ivnklm" class="button is-text">
        <span>Follow in Twitter</span>
    </a>
    <a href="https://ivanklimchuk.substack.com/" class="button is-text">
        <span>Subscribe</span>
    </a>
    <!-- <a href="/donate" class="button is-text">
        <span>{{ i18n "donate" }}</span>
    </a> -->
</div>