{{ define "main" }}
<section class="content intro">
    <div class="container">
        <div class="about">
            {{ .Content }}
            {{ range $key, $link := .Site.Params.Social }}
                <a href="{{ $link }}" title="{{ i18n $key }}" target="_blank" class="mr-4">
                    {{ partial "inline-svg" (dict "key" $key "class" "is-medium")}}
                </a>
            {{ end }}
        </div>
    </div>
</section>
<section class="recent">
    <div class="container">
    </div>
</section>

<div class="container mb-6">
    <div class="columns">
        <div class="column is-half">
            <header class="title">{{ i18n "recent-notes"}}</header>
            <ul class="mb-5">
                {{ $posts := (where .Site.RegularPages "Type" "posts") }}
                {{ range first 7 $posts }}
                    <li class="is-size-4 my-2"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
            {{ range (where .Site.Sections  "Type" "posts") }}
                <a href="{{ .Permalink }}" class="button is-small is-warning is-rounded">{{ i18n "all-notes" }}&nbsp;&rarr;</a>
            {{ end }}
        </div>
        <div class="column is-half">
            <header class="title">{{ i18n "recent-projects"}}</header>
            <p>Comming soon...</p>
        </div>
    </div>
    
</div>

<div class="container">
    {{ partial "newsletter" }}
</div>

<div class="container mt-6">
    {{ partial "donate" }}
</div>

{{ end }}
